.logo {
    width:100%;
    text-align: center;
}

h3 {
    letter-spacing: 0.2em;
    font-weight: bold;
}

h1 {
    font-size:150px;
}

.c1 { color : #F2CC85; }
.c2 { color : #F2784B; }
.c3 { color : #BF2E21; }